<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let userUrl = [[${userUrl}]]
        let adminUrl = [[${adminUrl}]];

        /*]]>*/
    </script>
</head>
<body>
<div class="container-fluid text-center" style=" background-color: #343a40; height: 50px">
    <div style="float: left; padding: 10px 10px; font:normal 24px Arial; color: azure">
        <p id="headerUsername" style="float: left; padding: 0 10px 0 0; font-weight: bold;"></p>
        <p style="float: left; padding: 0 5px 0 0;">with roles:</p>

        <div style="float: left">
            <p id="headerRoles" style="float: left; padding: 0 10px 0 0">
            </p>
        </div>
    </div>
    <div style="float: right; padding: 10px 5px 0 0;">
        <a style=" color: #8f9895; text-decoration: none" href="/logout">Logout</a>
    </div>


</div>
<div class="container-fluid">
    <div class="row container-fluid" style="padding: 0 0 0 0">
        <div class="col-2" style="padding: 0 0 0 0; font-size: 24px">
            <p style="border-radius:5px; text-decoration: none; background-color: #007bff; color: #f8f9fa; padding: 5px 0 5px 20px">
                <a
                        style="text-decoration: none;" th:text="Admin" sec:authorize="hasAuthority('ROLE_ADMIN')"/></p>
            <p style="color: #007bff; padding: 0 0 5px 20px"><a style="text-decoration: none;" th:text="User"
                                                                th:href="@{/user-js}"/></p>
        </div>
        <div class="col" style="background-color:  #f8f9fa">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="newUser-tab" data-bs-toggle="tab" data-bs-target="#newUser-tab-pane"
                            type="button" role="tab" aria-controls="newUser-tab-pane">New user
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="background-color: #f2f2f2">
                                <h4 style="padding: 5px 0 5px 10px">All users</h4>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <table id="mainTable" class="table table-striped "
                                       style="border-top:1px solid #e9e9e9; width: 98%; margin: 20px auto; font-weight: normal;">
                                    <thead>
                                    <tr>
                                        <th><h5>ID</h5></th>
                                        <th><h5>Username</h5></th>
                                        <th><h5>Surname</h5></th>
                                        <th><h5>Age</h5></th>
                                        <th><h5>Email</h5></th>
                                        <th><h5>Roles</h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </th>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="newUser-tab-pane" role="tabpanel" aria-labelledby="newUser-tab"
                     tabindex="0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="background-color: #f2f2f2">
                                <h4 style="padding: 5px 0 5px 10px">Add new user</h4>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <form id="createForm" style="text-align: center; width: 20%; margin: auto">
                                    <label class="control-label" for="username">Name</label>
                                    <input class="form-control" type="text" name="username" id="username">
                                    <br/>
                                    <label class="control-label" for="surname">Surname</label>
                                    <input class="form-control" type="text" name="surname" id="surname">
                                    <br/>
                                    <label class="control-label" for="age">Age</label>
                                    <input class="form-control" type="number" name="age" id="age">
                                    <br/>
                                    <label class="control-label" for="email">Email</label>
                                    <input class="form-control" type="text" name="email" id="email">
                                    <br/>
                                    <label class="control-label" for="password">Password</label>
                                    <input class="form-control" type="password" name="password" id="password">
                                    <br/>
                                    <p>
                                        <label class="control-label">Roles:</label>
                                        <select name="roles" id="roles" class="form-control" style="height: 70px"
                                                multiple>
                                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                            <option value="ROLE_USER">ROLE_USER</option>
                                        </select>

                                    </p>
                                    <input class="btn btn-success" type="submit" value="Add new user"/>
                                </form>

                            </th>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="myForm">
    <form id="editForm" style="text-align: center; font-weight: bold">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelEdit">Edit user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body" style="width: 70%; margin: auto">
                        <div class="mb-3">
                            <label for="id" class="col-form-label control-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" value="" disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="editusername" class="col-form-label control-label">username:</label>
                            <input type="text" class="form-control" id="editusername" name="username" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="editsurname" class="col-form-label control-label">surname:</label>
                            <input type="text" class="form-control" id="editsurname" name="surname" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="editage" class="col-form-label control-label">age:</label>
                            <input type="number" class="form-control" id="editage" name="age" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="editemail" class="col-form-label control-label">email:</label>
                            <input type="text" class="form-control" id="editemail" name="email" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="editpassword" class="col-form-label control-label">password:</label>
                            <input type="password" class="form-control" id="editpassword" name="password" value=""/>
                        </div>
                        <div class="mb-3">
                            <label for="editroles" class="col-form-label control-label">roles:</label>
                            <select id="editroles" name="roles" class="form-control" style="height: 70px" multiple>
                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                <option value="ROLE_USER">ROLE_USER</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Edit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="myForm">
    <form id="deleteForm" style="text-align: center; font-weight: bold">
        <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalDeleteLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalDeleteLabel">Delete user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body" style="width: 70%; margin: auto">
                        <div class="mb-3">
                            <label for="deleteid" class="col-form-label control-label">ID:</label>
                            <input type="text" class="form-control" id="deleteid" name="id" value="" disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="deleteusername" class="col-form-label control-label">username:</label>
                            <input type="text" class="form-control" id="deleteusername" name="username" value=""
                                   disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="deletesurname" class="col-form-label control-label">surname:</label>
                            <input type="text" class="form-control" id="deletesurname" name="surname" value=""
                                   disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="deleteage" class="col-form-label control-label">age:</label>
                            <input type="number" class="form-control" id="deleteage" name="age" value="" disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="deleteemail" class="col-form-label control-label">email:</label>
                            <input type="text" class="form-control" id="deleteemail" name="email" value=""
                                   disabled/>
                        </div>
                        <div class="mb-3">
                            <label for="deleteroles" class="col-form-label control-label">roles:</label>
                            <select id="deleteroles" name="roles" multiple="multiple" class="form-control"
                                    style="height: 70px" disabled>
                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                <option value="ROLE_USER">ROLE_USER</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary btn-danger" value="Delete"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/JS/adminPage.js" defer></script>
<script src="/JS/CRUDAndModal.js" defer></script>


</body>
</html>