<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let userUrl = [[${userUrl}]]

        /*]]>*/
    </script>
    <script src="/JS/userPage.js"></script>
</head>
<body>
<div class="container-fluid text-center" style=" background-color: #343a40; height: 50px">
    <div style="float: left; padding: 10px 10px; font:normal 24px Arial; color: azure">
        <p id="headerUsername" style="float: left; padding: 0 10px 0 0; font-weight: bold;"></p>
        <p style="float: left; padding: 0 5px 0 0;">with roles:</p>

        <div style="float: left">
            <p id="headerRoles" style="float: left; padding: 0 10px 0 0">
            </p>
        </div>
    </div>
    <div style="float: right; padding: 10px 5px 0 0;">
        <a style=" color: #8f9895; text-decoration: none" href="/logout">Logout</a>
    </div>


</div>
<div class="container-fluid">
    <div class="row container-fluid" style="padding: 0 0 0 0">
        <div class="col-2" style="padding: 0 0 0 0; font-size: 24px">
            <p style="color: #007bff; padding: 5px 0 5px 20px"><a th:href="@{/admin-js}" style="text-decoration: none;"
                                                                  th:text="Admin"
                                                                  sec:authorize="hasAuthority('ROLE_ADMIN')"/></p>
            <p style="border-radius:5px; background-color: #007bff; color: #f8f9fa; padding: 0 0 5px 20px"><a
                    style="text-decoration: none;" th:text="User"/></p>
        </div>
        <div class="col" style="background-color:  #f8f9fa">
            <h1>User information-page</h1>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="background-color: #f2f2f2">
                                <h4 style="padding: 5px 0 5px 10px">About user</h4>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <table id="mainTable" class="table table-striped "
                                       style="border-top:1px solid #e9e9e9; width: 98%; margin: 20px auto; font-weight: normal;">
                                    <thead>
                                    <tr>
                                        <th><h5>ID</h5></th>
                                        <th><h5>Username</h5></th>
                                        <th><h5>Surname</h5></th>
                                        <th><h5>Age</h5></th>
                                        <th><h5>Email</h5></th>
                                        <th><h5>Roles</h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </th>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>